<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'IgniteAzurePhoto.Web' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>797c0724-1e56-41eb-8075-3d9b151c1858</InstrumentationKey>
</ApplicationInsights>