
@{
    ViewBag.Title = "About";
}

<h2>About Ignite Photo Album</h2>

<p>
  This is a demo website from <a href="http://ignite.microsoft.com/session/sessionmoreinfo/?topicid=3c43ef79-30a1-e411-b87f-00155d5066d7">Jeff Fritz's ASP.NET for Azure</a> session.  Source code is available on GitHub
  and video, slides, as well as the rest of the content will be available from Channel 9 after the event concludes.
</p>
